.other_courses {
  color: rgb(255, 255, 255);
  max-width: 100%;
}

.other_courses_title {
  width: 100vw;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 75px;
}

.other_courses_title h2 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.other_courses_contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.other_courses_contents_ {
  flex: 0 1 20vw;
}

.other_courses_contents_img img {
  object-fit: contain;
}

.other_courses_contents_details p {
  margin: 0;
  margin-top: 10px;
}

.grid_container {
  margin-top: 10px;
  /* background-color: white; */
  height: max-content;
  display: grid;
  padding: 4rem;
  grid-template-columns: repeat(3, 1fr);
  /* Adjust the number of columns as needed */
  gap: 30px;
  /* Adjust the gap between boxes as needed */
}

.grid_item {
  background-color: #2c2c2c;
  box-shadow: rgb(208 212 233 / 34%) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* height: 350px; */
  width: 350px;
  padding: 0px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  position: relative;
}

.image_container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 200px;
  border-radius: 10px;
}

@media (max-width: 1221px) {
  .grid_item {
    width: 100%;
  }

  .image_container {
    width: inherit
  }
}

@media (max-width: 1120px) {
  .image_container {
    height: 170px;
  }
}

@media (max-width: 924px) {
  .image_container {
    height: 150px;
  }

  .grid_item {
    height: 170px;
  }
}

@media (max-width: 840px) {
  .other_courses_contents_details_contents {
    font-size: 11px;
  }
}

@media (max-width: 788px) {
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .image_container {
    height: 180px;
  }

  .grid_item {
    height: 200px;
  }
}

@media (max-width: 666px) {
  .grid_item {
    height: 180px;
  }
}

@media (max-width: 582px) {
  .grid_item {
    height: 170px;
  }

  .image_container {
    height: 170px;
  }
}

@media (max-width: 525px) {
  .other_courses_contents_details_contents {
    font-size: 10px;
  }

  .grid_item {
    border-radius: 10px;
  }

  .other_courses_title h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0px 30px;
    font-weight: bold;
  }
}

@media (max-width: 507px) {
  .grid_container {
    grid-template-columns: repeat(1, 1fr);
    padding: 1.5rem;
  }

  .grid_item {
    height: 200px;
  }

  .other_courses_title h2 {
    padding: 0px 60px;
  }
}

@media (max-width: 331px) {
  .grid_container {
    padding: 1.5rem;
  }
}