.course {
  max-width: 100vw;
  color: white;
  font-style: normal;
  text-align: center;
  margin-bottom: 2%;
  /* padding: 0 50px; */
}

.course_title {
  color: white;
  text-align: center;
  max-width: 100%;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2%;
}

.course_contents {
  padding: 0rem 4rem;
  overflow-x: scroll;
  /* max-width: 100%; */
  margin: auto;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* justify-content: center; */
  gap: 5rem;
}

.course_contents_ {
  width: 100vw;
  cursor: pointer;
}

.course_entails {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-top: 20px;
}

.course_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: "center";
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

.course_contents::-webkit-scrollbar {
  display: none;
}

@media (max-width: 946px) {
  .course_image {
    width: 300px;
    height: 170px;
  }

  .course_entails > p {
    text-align: start;
    font-size: 11px;
  }

  .course_title {
    margin-bottom: 5%;
  }
}

@media (max-width: 845px) {
  .course_contents {
    gap: 2rem;
  }

  .course_entails {
    font-weight: 600;
  }
}

@media (max-width: 761px) {
  .course_contents {
    padding: 0rem 3.5rem
  }

  .course_image {
    width: 270px
  }
}

@media (max-width: 641px) {
  .course {
    margin-top: 200px;
  }
}

@media (max-width: 540px) {
  .course {
    margin-top: 50px;
  }
}

@media (max-width: 450px) {
  .course_contents {
    padding: 0rem 2rem;
  }
}

@media (max-width: 400px) {
  .course {
    margin-top: 0px;
  }
}

@media (max-width: 313px) {
  .course_entails {
    font-size: 10px;
    text-align: center;
    font-weight: 600;
  }
}